@model IEnumerable<AfpEat.Restaurant>

@{
    //List<AfpEat.Restaurant> restaurants = ViewBag.Restaurants;
    List<AfpEat.TypeCuisine> typeCuisines = (List<AfpEat.TypeCuisine>)ViewBag.TypeCuisines;
    }
    <h2>Liste des Restaurants et des Types de Cuisine</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#typeCuisine" role="tab" aria-controls="typeCuisine" aria-selected="true">Types de Cuisine</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">Restaurants</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane active" id="typeCuisine" role="tabpanel" aria-labelledby="typeCuisine-tab">
            <table class="table">

                @foreach (var item in typeCuisines)
                {
                    <tr>

                        <td>
                            @Html.ActionLink(item.Nom, "Index", "Restaurants", new { id = item.IdTypeCuisine }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Photo)

                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="restaurant" role="tabpanel" aria-labelledby="restaurant">
            <table class="table">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Photos)
                        </td>
                        <td>
                            @Html.ActionLink(item.Nom, "Details", "Restaurants", new { id = item.IdRestaurant }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeCuisine.Nom)
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
